#!/usr/bin/make -f

#export DH_VERBOSE=1

export PVER=$(shell dpkg-parsechangelog --show-field version | cut -d"+" -f1 )

export DEB_BUILD_MAINT_OPTIONS := hardening=+all
export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --buildsystem=qmake

override_dh_auto_configure:
	mkdir -p build
	qmake -qt=5 \
		"QMAKE_CFLAGS=${CFLAGS}" \
		"QMAKE_CXXFLAGS=${CXXFLAGS} ${CPPFLAGS}" \
		"QMAKE_LFLAGS=${LDFLAGS}" \
		"LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)" \
                "LOCALEDIR=/usr/share/webcamoid/locale" \
                Webcamoid.pro

override_dh_makeshlibs:
	dh_makeshlibs -- -v$(PVER)
